.footer {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    border-top: 1px solid #ccc;
    background-color: black;
}

.copyright {
    text-align: center;
    margin: 0;
}

.footerLists {
    display: flex;
    justify-content: center;
    gap: 80px;
    flex-wrap: wrap;
}

.socialLinks,
.footerNav {
    width: 180px;
    margin: 0;
    list-style: none;
}

.socialLinks a,
.footerNav a {
    text-decoration: none;
    color: inherit;
}

.socialLinks li,
.footerNav li {
    cursor: pointer;

    transition: color 0.2s;
    &:hover {
        color: white;
    }
}

@media (max-width: 600px) {
    .footerLists {
        flex-direction: column;
        gap: 20px;
    }
}


